.Dashboard {
    .QuickLinks {
        border: 3px solid #fff;
        padding: 20px;

        .QuickLinks__items {
            width: 33.33%;
            float: left;
            padding: 20px;
            border: 2px solid red;
        }
    }
}