.MessagesPage {
    border: 3px solid #202353;
    padding: 2rem;

    .MessagesInput {
        .MessagesInput__input_title {
            text-align: center;
        }

        .MessagesInput__input {

            .MessagesInput__input_border {
                border: 3px dotted #202bc2;

                .MessagesInput__input_box {
                    height: 65vh;
                    width: 100%;
                }
            }
        }
    }
}