.OrdersPage {
    .OrderOverview_container {
        margin: 1.5rem;
        border: 1px solid white;
    }

    .OrderOverview_container__header {
        display: flex;
        justify-content: center;
        align-items: center;

        .OrderOverview_container__title {
            float: left;
        }

        .OrderOverview_container__dateRange {
            float: right;
        }
    }

    .OrderOverview_container__options {
        border: 1px solid white;
    }
}